
@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}
 


#header {
 background: black;
 width: 100%;
 height: 76px;
 position: fixed;
 z-index: 100;
}
 
ul {
 list-style: none;
}
 
li {
 display: inline-block;
 float: left;
 padding: 10px
}
 
a {
 color: red;
 text-decoration: none;
 font-weight: bold;
}
 
a:hover {
 text-decoration: underline;
}
 
.logo {
 margin: 20px;
 float: left;
 width: 200px;
 height: 50px;
 display: block;
}
 
nav {
 float: right;
 padding: 10px;
 font-family: 'Open Sans', sans-serif;
}
 
.menu-icon {
 width: 32px;
 height: 32px;
display:none;
}


#image{
	height:850px;
	width:100%;
	background-postion:cover;
	background: url(../image/about1.jpg);
	background-size:100% 100%;
	display:none;
	background:black;
}

.image{

	height:850px;
	width:100%;
	margin:auto;
	padding:0;
	background:black;

}

#image1{
	
display:none;
bottom:3px;
height:850px;
width:100%;
background:black;
}

.photo{
	height:300px;
	width:25%;
	margin:0 auto;
	padding-left:80px;
}

.web{
	height:300px;
	width:25%;
	padding-left:80px;
}



.text{
	text-align:center;
	font-family:verdana;
	font-size:36px;
	color:red;
	display:none;

}



.text1{
	text-align:center;
	font-family:verdana;
	font-size:18px;
	color:red;
	height:200px;
	width:100%;
	background:black;
	
}

.software{
	height:210px;
	width:100%;
	text-align:center;
	font-family:verdana;
	font-size:18px;
	color:red;
	background:black;
	bottom:1px;
	
}

#work{
	height:1250px;
	width:100%;
	background:grey;
	
}

.video{
	height:300px;
	width:25%;
	padding-left:80px;
}

#contact{
	height:630px;
	width:100%;
	text-align:center;
	margin:0 auto;
	font-family:verdana;
	font-size:18px;
	color:red;
	background:black;
}


#phone{
	height:150px;
	width:50%;
	font-size:40px;
	background:black;
	text-align:center;
	margin:0 auto;
		font-family:verdana;
	display:none;
	color:red;
	border: solid 3px red;
}

#email{
	height:150px;
	width:50%;
	font-size:40px;
	background:black;
	text-align:center;
	margin:0 auto;
		font-family:verdana;
	display:none;
	color:red;
	border: solid 3px red;

}

#socialmedia{
	height:150px;
	width:50%;
	font-size:40px;
	background:black;
	text-align:center;
	margin:0 auto;
	font-family:verdana;
	display:none;
	border: solid 3px red;
	color: red;
}


#title{
	position:absolute;
	height:50px;
	width:100%;
	background:black;
		text-align:center;
	font-family:verdana;
	font-size:18px;
	color: red;

}

h1{
	text-align:center;
}

h2{
	color:red;
	text-align:center;
}

#specialise{
		width:100%;
		text-align:center;
	background:black;
	
	
}

.img{
	height:180px;
	padding:18px;
	width:18%;

}

.img:hover{
	background-color:grey;
}




#arrow{
	text-align:center;
	height:100px;
	width:100%;
	background:grey;
}

.up{
	height:76px;
	width:76px;
}

#footer{
background: black;
 width: 100%;
 height: 90px;
 top: 0;
 left: 0;
 z-index: 100;
text-align:center;
font-family: verdana;
font-size:12px;
color: red;
}

.hover{
	height:35px;
	width:35px;
	float:left;
	padding-left:5px;
}



@media only screen and (max-width : 1024px) { 
 header {
 position: fixed;
	 width:100%;
 }
 
#image1{
	
display:none;
bottom:3px;
height:850px;
width:100%;
background:black;
}	
	.image{
	top: 0;
 left: 0;
right:10px;

	height:500px;
	width:100%;

}
	
	.web{
	height:300px;
	width:20%;
	padding-left:80px;
}
	
		.photo{
	height:300px;
	width:20%;
	padding-left:80px;
}
	
	.video{
	height:300px;
	width:25%;
	padding-left:50px;
}
	
	#phone{
	height:130px;
	width:50%;
	font-size:20px;
	background:black;
	text-align:center;
	margin:0 auto;
		font-family:verdana;
		display:none;
		color:red;
}
	
	#work{
		height:1180px;
		width:100%;
	}
	
 .menu-icon {
 display:inline-block;
 }
 
 nav ul, nav:active ul { 
 display: none;
 position: absolute;
 padding: 20px;
 background: black;
 right: 10px;
 top: 65px;
 width: 30%;
 color:red;
 }
 
 nav:hover ul {
 display: block;
 }
 
 nav li {
 text-align: center;
 width: 100%;
 padding: 15px 0;
 margin: 0;
 }
	

}


@media only screen and (max-width : 768px) {
	
*{
	padding:0;
	margin:0;
	
}
	
header {
 position: fixed;
	width:100%;
 }

#image1{
	
display:none;
bottom:3px;
height:540px;
width:100%;
background:black;
}	
	
.img{
	height:280px;
	width:25%;
	text-align:center;
	padding-left:15px;
}
	
	.image{
		width:100%;
	}
	
	#image{
		height:850px;
		width:100%;
	background-postion:cover;

}
	
	#specialise{
	height:400px;
		width:100%;
	
}


	
	.text1{
	text-align:center;
	font-family:verdana;
	font-size:18px;
	color:red;
	height:280px;
	width:100%;
	
}
	
	.text{

	font-family:verdana;
	font-size:36px;
		float:left;
	padding:100px;
	color:red;
	width:33%;
		padding-right:200px;
	
}
	
	.photo{
	height:300px;
	width:28%;
	margin:0 auto;
	padding-left:25px;
}

.web{
	height:300px;
	width:20%;
	padding-left:80px;
}
	
	.video{
	height:300px;
	width:28%;
	padding-left:30px;
}

#contact{
	height:630px;
	width:100%;
	text-align:center;
	margin:0 auto;
	font-family:verdana;
	font-size:18px;
	color:red;
	background:black;
}	
	#phone{
	height:130px;
	width:50%;
	font-size:20px;
	background:black;
	text-align:center;
	margin:0 auto;
		font-family:verdana;
		display:none;
		color:red;
}

#email{
	height:130px;
	width:50%;
	font-size:20px;
	background:black;
	text-align:center;
	margin:0 auto;
		font-family:verdana;
	display:none;
	color:red;
}
	
	#socialmedia{
	height:130px;
	width:50%;
	font-size:20px;
	background:black;
	text-align:center;
	margin:0 auto;
	font-family:verdana;
		display:none;
		color:red;
}
	


}

@media only screen and (max-width : 435px){
	
			#specialise{
	height:1120px;
		width:100%;	
}
	
		.img{
	height:300px;
	width:80%;
	text-align:center;
		padding-left:15px;

}
	
	.text1{
		height:420px;
	}
	
	

		#phone{
	height:100px;
	width:83%;
	font-size:18px;
	background:black;
	text-align:center;
	margin:0 auto;
		font-family:verdana;
			display:none;
			color:red;
}

#email{
	height:100px;
	width:83%;
	font-size:18px;
	background:black;
	text-align:center;
	margin:0 auto;
		font-family:verdana;
	display:none;
	color:red;

}
	
	#socialmedia{
	height:100px;
	width:83%;
	font-size:18px;
	background:black;
	text-align:center;
	margin:0 auto;
	font-family:verdana;
		display:none;
		color:red;
}
	
		.photo{
	height:300px;
	width:85%;
	margin:0 auto;
	padding-left:10px;
}

.web{
	height:300px;
	width:85%;
	padding-left:25px;
}
	
	.video{
	height:300px;
	width:85%;
	padding-left:10px;
}
	
	#work{
	height:3180px;
	width:100%;
	text-align:center;
	top:10px;
	display:none;
	
}
	
	
}

@media only screen and (max-width : 320px) {
	*{
	padding:0;
	margin:0;
	
}
	
	header {
	width:100%;
 }

	
		#image{
	background-postion:center;
	background: url(../image/about1.jpg);
	background-size:100% 100%;
}
	
	#image1{
		height:320px;
	}
	
.image{

	height:300px;
	width:100%;
	right:10px;

}

	
.text{
	height:180px;
	width:33%;
	text-align:center;
	font-family:verdana;
	font-size:18px;
	color:red;
	
}
	
		.text1{
	text-align:center;
	font-family:verdana;
	font-size:18px;
	color:red;
	height:500px;
	width:100%;
	
}

#title{
	height:65px;
	width:100%;
	background:black
	text-align:center;
	font-family:verdana;
	font-size:18px;
	margin-top:-7px;
	color:red;

}
	
		#specialise{
	height:600px;
		width:100%;
		padding-top:3px;	
}
	
		.img{
	height:150px;
	width:75%;
	text-align:center;

}
	
	

		#phone{
	height:100px;
	width:83%;
	font-size:18px;
	background:black;
	text-align:center;
	margin:0 auto;
		font-family:verdana;
			display:none;
			color:red;
}

#email{
	height:100px;
	width:83%;
	font-size:18px;
	background:black;
	text-align:center;
	margin:0 auto;
		font-family:verdana;
	display:none;
	color:red;

}
	
	#socialmedia{
	height:100px;
	width:83%;
	font-size:18px;
	background:black;
	text-align:center;
	margin:0 auto;
	font-family:verdana;
		display:none;
		color:red;
}
	
		.photo{
	height:300px;
	width:85%;
	margin:0 auto;
	padding-left:10px;
}

.web{
	height:300px;
	width:85%;
	padding-left:25px;
}
	
	.video{
	height:300px;
	width:85%;
	padding-left:10px;
}
	
	#work{
	height:3150px;
	width:100%;
	text-align:center;
	top:10px;
	display:none;
	
}
}

